
.vs/UMLGen/v14/.suo
.vs/UMLGen/v14/.suo
.vs/UMLGen/v14/.suo
UMLGen/obj/Debug/View/App.g.i.cs
UMLGen/obj/Debug/View/App.g.i.cs
UMLGen/obj/Debug/View/Box.g.i.cs
UMLGen/obj/Debug/View/Box.g.i.cs
UMLGen/obj/Debug/View/Elipse.g.i.cs
UMLGen/obj/Debug/View/MainWindow.g.i.cs
UMLGen/obj/Debug/View/Square.g.i.cs
UMLGen/obj/Debug/View/UMLClass.g.i.cs
UMLGen/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UMLGen/obj/Debug/UMLGen_MarkupCompile.i.cache